
#app {
    display: grid;
    place-items: center;
}

#addTaskDiv {
    display: grid;
    grid-row: auto auto auto;
    width: 390px;
    border: 2px solid black;
    height: 350px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 3px;
    background-color: #092834;
    color: white;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 900px;
}

td, th {
    padding: 10px;
}

th {
    background-color: #092834;
    border: 2px solid #092834;
    color: white;
}

tr:nth-child(even) {
    background: #347B98;
}

button {
    font-size: 15px;
    color: white;
    background-color: #34092e;
    padding: 2px;
    margin: 3px;
}
 
#taskDescription, #personDescription {
    text-align: center;
    font-size: 25px;
    border: 1px white;
    padding: 10px;
    margin: 0px;
} 

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-text { color: #092834; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #092834; }
::-webkit-datetime-edit-day-field { color: #092834; }
::-webkit-datetime-edit-year-field { color: #092834; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #092834; }