/* main */

/* #app {
    display: grid;
    place-items: center;
} */

/* todolist */

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 900px;
}

td, th {
    padding: 10px;
}

th {
    background-color: #092834;
    border: 2px solid #092834;
    color: white;
}

tr:nth-child(even) {
    background: #347B98;
}

#taskDescription, #personDescription {
    text-align: center;
    font-size: 25px;
    border: 1px white;
    padding: 10px;
    margin: 0px;
} 

