table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    width: 900px;
    text-align: center;
}

td, th {
    /* padding: 10px; */
}

th {
    background-color: #092834;
    border: 2px solid #092834;
    color: white;
}

tr:nth-child(even) {
    background: #347B98;
}

button {
    font-size: 15px;
    color: white;
    background-color: #34092e;
    padding: 2px;
    /* margin: 5px;  */
}

#taskDescription, #personDescription {
    text-align: center;
    font-size: 15px;
    /* background-color: #092834; */
    /* color: white; */
    border: 1px white;
    padding: 10px;
    margin: 0px;
}

::-webkit-datetime-edit { padding: 1em; }
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
::-webkit-datetime-edit-text { color: #092834; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #092834; }
::-webkit-datetime-edit-day-field { color: #092834; }
::-webkit-datetime-edit-year-field { color: #092834; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: #092834; }